{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "legacy": true
      }
    ],
    "@babel/syntax-dynamic-import",
    "@babel/transform-async-to-generator",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "@rest": "./src/api-rest",
        "@common": "./src/common",
        "@config": "./src/config",
        "@libs": "./src/libs"
      }
    }]
  ],
  "ignore": [
    "public",
    "resources"
  ]
}
